.albumContainer {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

h1 {
    color: green;
}

.pageContainer {
    display: flex;
    flex-wrap: wrap;
}

img {
    height: 250px;
    border-radius: 15px;
    margin: 0 15px 15px 0;
}

p {
    margin: 10px 0;
}